.menu{
    width: 100%;height: 52px; border: 1px black solid; background-color: rgb(82, 81, 81);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 8px;
   
}
.menu ul{
    margin: 0; padding: 0;list-style: none;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: block;width: 65px; height: 25px;list-style: none;padding: 15px 0 0 15px;text-decoration: none;color: white;
}
body{
    height: 200vh;
}
